.no-result {
    display: flex;
    padding-top: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-result-title {
    margin-bottom: 1rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.searching {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.home {
    color: #3B82F6;
}

.loader-one {
    display: flex;
    padding-top: 2.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    flex-direction: column;
    max-width: 72rem;

    @media (min-width: 640px) {
        margin-left: 1rem;
        flex-direction: row;
    }

    @media (min-width: 1024px) {
        padding-left: 13rem;
    }
}

.sub-loader {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

.sub-loader-one {
    margin-bottom: 1rem;
    border-radius: 0.375rem;
    width: 12rem;
    height: 12rem;
    background-color: #E5E7EB;
}

.sub-loader-two {
    margin-bottom: 0.625rem;
    border-radius: 0.375rem;
    width: 12rem;
    height: 0.5rem;
    background-color: #E5E7EB;
}

.sub-loader-three {
    margin-bottom: 0.625rem;
    border-radius: 0.375rem;
    width: 12rem;
    height: 0.5rem;
    background-color: #E5E7EB;
}

.loader-two {
    display: none;

    @media (min-width: 640px) {
        display: inline-flex;
        margin-left: 1rem;
    }
}