.image-main {
    padding-bottom: 10rem;
    margin-top: 1rem;

    @media (min-width: 320px) and (max-width: 374px) {
        padding-bottom: 8rem;
    }

    @media (min-width: 375px) and (max-width: 424px) {
        padding-bottom: 7rem;
    }

    @media (min-width: 425px) and (max-width: 639px) {
        padding-bottom: 6.5rem;
    }

    @media (min-width: 640px) and (max-width: 767px) {
        padding-bottom: 6rem;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        padding-bottom: 5rem;
    }

    @media (min-width: 1024px) and (max-width: 1439px) {
        padding-bottom: 4rem;
    }

    @media (min-width: 1440px) and (max-width: 2559px) {
        padding-bottom: 3rem;
    }

    @media (min-width: 2560px) {
        padding-bottom: 2rem;
    }
}

.image-sub {
    display: grid;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-left: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media (min-width: 320px) and (max-width: 374px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    @media (min-width: 375px) and (max-width: 424px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    @media (min-width: 425px) and (max-width: 639px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    @media (min-width: 640px) and (max-width: 767px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 1024px) and (max-width: 1439px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (min-width: 1440px) and (max-width: 2559px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media (min-width: 2560px) {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

.results {
    margin-bottom: 2rem;
    padding: 0 1rem;

    @media (min-width: 320px) and (max-width: 374px) {
        margin-bottom: 1.5rem;
    }

    @media (min-width: 375px) and (max-width: 424px) {
        margin-bottom: 1.5rem;
    }

    @media (min-width: 425px) and (max-width: 639px) {
        margin-bottom: 1.75rem;
    }

    @media (min-width: 640px) and (max-width: 767px) {
        margin-bottom: 2rem;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        margin-bottom: 2.25rem;
    }

    @media (min-width: 1024px) and (max-width: 1439px) {
        margin-bottom: 2.5rem;
    }

    @media (min-width: 1440px) and (max-width: 2559px) {
        margin-bottom: 3rem;
    }

    @media (min-width: 2560px) {
        margin-bottom: 3.5rem;
    }
}

.result-img {
    object-fit: contain;
    width: 100%;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.result-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (min-width: 320px) and (max-width: 374px) {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    @media (min-width: 375px) and (max-width: 424px) {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }

    @media (min-width: 425px) and (max-width: 639px) {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }

    @media (min-width: 640px) and (max-width: 767px) {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: 1.375rem;
        line-height: 1.875rem;
    }

    @media (min-width: 1024px) and (max-width: 1439px) {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    @media (min-width: 1440px) and (max-width: 2559px) {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    @media (min-width: 2560px) {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.result-link {
    color: #4B5563;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (min-width: 320px) and (max-width: 374px) {
        font-size: 0.875rem;
    }

    @media (min-width: 375px) and (max-width: 424px) {
        font-size: 0.875rem;
    }

    @media (min-width: 425px) and (max-width: 639px) {
        font-size: 1rem;
    }

    @media (min-width: 640px) and (max-width: 767px) {
        font-size: 1rem;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: 1.125rem;
    }

    @media (min-width: 1024px) and (max-width: 1439px) {
        font-size: 1.25rem;
    }

    @media (min-width: 1440px) and (max-width: 2559px) {
        font-size: 1.5rem;
    }

    @media (min-width: 2560px) {
        font-size: 1.75rem;
    }
}

.pagination {
    margin-left: 4rem;

    @media (min-width: 320px) and (max-width: 374px) {
        margin-left: 2rem;
    }

    @media (min-width: 375px) and (max-width: 424px) {
        margin-left: 2.5rem;
    }

    @media (min-width: 425px) and (max-width: 639px) {
        margin-left: 3rem;
    }

    @media (min-width: 640px) and (max-width: 767px) {
        margin-left: 3.5rem;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        margin-left: 4rem;
    }

    @media (min-width: 1024px) and (max-width: 1439px) {
        margin-left: 4.5rem;
    }

    @media (min-width: 1440px) and (max-width: 2559px) {
        margin-left: 5rem;
    }

    @media (min-width: 2560px) {
        margin-left: 5.5rem;
    }
}