a {
    text-decoration: none;
}

.page-main {
    display: flex;
    padding: 0 2.5rem 1rem 2.5rem;
    justify-content: space-between;
    color: #1D4ED8;
}

@media (max-width: 320px) {
    .page-main {
        padding: 0 1rem 1rem 1rem;
    }
}

@media (min-width: 321px) and (max-width: 374px) {
    .page-main {
        padding: 0 1.25rem 1rem 1.25rem;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    .page-main {
        padding: 0 1.5rem 1rem 1.5rem;
    }
}

@media (min-width: 425px) and (max-width: 639px) {
    .page-main {
        padding: 0 2rem 1rem 2rem;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .page-main {
        padding: 0;
        margin-left: 8rem;
        justify-content: flex-start;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .page-main {
        padding: 0;
        margin-left: 9rem;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .page-main {
        padding: 0;
        margin: 30rem 0 0 0;
        justify-content: space-between;
    }
}

@media (min-width: 1440px) and (max-width: 2559px) {
    .page-main {
        padding: 0;
        margin: 30rem 0 0 0;
        justify-content: space-between;
    }
}

@media (min-width: 2560px) {
    .page-main {
        padding: 0;
        margin-left: 10rem;
        justify-content: space-between;
    }
}

.page-one,
.page-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 320px) {

    .page-one,
    .page-two {
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 321px) and (max-width: 374px) {

    .page-one,
    .page-two {
        margin-bottom: 0.75rem;
    }
}

@media (min-width: 375px) and (max-width: 424px) {

    .page-one,
    .page-two {
        margin-bottom: 1rem;
    }
}

@media (min-width: 425px) and (max-width: 639px) {

    .page-one,
    .page-two {
        margin-bottom: 1.25rem;
    }
}

@media (min-width: 640px) and (max-width: 767px) {

    .page-one,
    .page-two {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .page-one,
    .page-two {
        margin-bottom: 1.75rem;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {

    .page-one,
    .page-two {
        margin-bottom: 2rem;
        margin-top: -15rem;
    }
}

@media (min-width: 1440px) and (max-width: 2559px) {

    .page-one,
    .page-two {
        margin-bottom: 2.25rem;
        margin-top: -15rem;
    }
}

@media (min-width: 2560px) {

    .page-one,
    .page-two {
        margin-bottom: 2.5rem;
    }
}

.page-one p:hover,
.page-two p:hover {
    text-decoration: underline;
}

.previous,
.next {
    height: 1.25rem;
}

@media (max-width: 320px) {

    .previous,
    .next {
        height: 1rem;
    }
}

@media (min-width: 321px) and (max-width: 374px) {

    .previous,
    .next {
        height: 1.1rem;
    }
}

@media (min-width: 375px) and (max-width: 424px) {

    .previous,
    .next {
        height: 1.2rem;
    }
}

@media (min-width: 425px) and (max-width: 639px) {

    .previous,
    .next {
        height: 1.3rem;
    }
}

@media (min-width: 640px) and (max-width: 767px) {

    .previous,
    .next {
        height: 1.4rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .previous,
    .next {
        height: 1.5rem;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {

    .previous,
    .next {
        height: 1.5rem;
    }
}

@media (min-width: 1440px) and (max-width: 2559px) {

    .previous,
    .next {
        height: 1.65rem;
    }
}

@media (min-width: 2560px) {

    .previous,
    .next {
        height: 2rem;
    }
}