@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
}

.logo-img {
    margin-bottom: 2.5rem;
    margin-top: 5.38rem;
}

.error {
    display: flex;
    padding-top: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    margin-bottom: 1rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.error-btn {
    color: #3B82F6;
}

@media only screen and (max-width: 320px) {
    .main-page {
        padding: 7px;
        justify-content: center;
    }

    .logo-img {
        margin-bottom: -0.5rem;
        margin-top: -15rem;
        width: 40%;
        height: 40%;
    }

    .message {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

@media only screen and (min-width: 321px) and (max-width: 374px) {
    .main-page {
        padding: 10px;
        justify-content: center;
    }

    .logo-img {
        margin-bottom: -0.5rem;
        margin-top: -15rem;
        width: 35%;
        height: 35%;
    }

    .message {
        font-size: 1.6rem;
        line-height: 1.85rem;
    }
}

@media only screen and (min-width: 375px) {
    .main-page {
        padding: 10px;
        justify-content: center;
    }

    .logo-img {
        margin-bottom: -0.5rem;
        margin-top: -15rem;
        width: 35%;
        height: 35%;
    }

    .message {
        font-size: 1.6rem;
        line-height: 1.85rem;
    }
}

@media only screen and (min-width: 376px) and (max-width: 424px) {
    .main-page {
        padding: 12px;
        justify-content: center;
    }

    .logo-img {
        margin-bottom: -0.5rem;
        margin-top: -15rem;
        width: 30%;
        height: 30%;
    }

    .message {
        font-size: 1.7rem;
        line-height: 1.95rem;
    }
}

@media only screen and (min-width: 425px) {
    .main-page {
        padding: 12px;
        justify-content: center;
    }

    .logo-img {
        margin-bottom: -0.5rem;
        margin-top: -15rem;
        width: 30%;
        height: 30%;
    }

    .message {
        font-size: 1.7rem;
        line-height: 1.95rem;
    }
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
    .main-page {
        padding: 15px;
        justify-content: center;
    }

    .logo-img {
        margin-bottom: -0.5rem;
        margin-top: -15rem;
        width: 25%;
        height: 25%;
    }

    .message {
        font-size: 1.8rem;
        line-height: 2.05rem;
    }
}

@media only screen and (min-width: 768px) {
    .main-page {
        padding: 15px;
        justify-content: center;
    }

    .logo-img {
        margin-bottom: -0.5rem;
        margin-top: -15rem;
        width: 25%;
        height: 25%;
    }

    .message {
        font-size: 1.8rem;
        line-height: 2.05rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .main-page {
        padding: 20px;
        justify-content: center;
    }

    .logo-img {
        margin-bottom: -0.5rem;
        margin-top: -15rem;
        width: 20%;
        height: 20%;
    }

    .message {
        font-size: 1.9rem;
        line-height: 2.15rem;
    }
}

@media only screen and (min-width: 1024px) {
    .main-page {
        padding: 20px;
        justify-content: center;
    }

    .logo-img {
        margin-bottom: -0.5rem;
        margin-top: -15rem;
        width: 20%;
        height: 20%;
    }

    .message {
        font-size: 1.9rem;
        line-height: 2.15rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
    .main-page {
        padding: 30px;
        justify-content: center;
        align-items: center;
    }

    .logo-img {
        margin-bottom: -0.5rem;
        margin-top: -15rem;
        width: 15%;
        height: 15%;
    }

    .message {
        font-size: 2rem;
        line-height: 2.25rem;
    }
}

@media only screen and (min-width: 1440px) {
    .main-page {
        padding: 30px;
        justify-content: center;
        align-items: center;
    }

    .logo-img {
        margin-bottom: -0.5rem;
        margin-top: -15rem;
        width: 15%;
        height: 15%;
    }

    .message {
        font-size: 2rem;
        line-height: 2.25rem;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 2559px) {
    .main-page {
        padding: 40px;
        justify-content: center;
        align-items: center;
    }

    .logo-img {
        margin-bottom: -0.5rem;
        margin-top: -15rem;
        width: 10%;
        height: 10%;
    }

    .message {
        font-size: 2.1rem;
        line-height: 2.35rem;
    }
}

@media only screen and (min-width: 2560px) {
    .main-page {
        padding: 40px;
        justify-content: center;
        align-items: center;
    }

    .logo-img {
        margin-bottom: -0.5rem;
        margin-top: -15rem;
        width: 10%;
        height: 10%;
    }

    .message {
        font-size: 2.1rem;
        line-height: 2.35rem;
    }
} */