*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page{
    position: relative; 
    min-height: 100vh;   
}

.logo-img{
    display: flex;
    flex-direction: column;
}

.error{
    display: flex; 
    padding-top: 2.5rem; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.message{
    margin-bottom: 1rem; 
    font-size: 1.875rem;
    line-height: 2.25rem;       
}

.error-btn{
    color: #3B82F6;   
}